---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos?github_slug=HarshitaN-WAL/Dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 4a6076ef74c16d09d7cca6dbab264d89dc015eee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"997f83e294c992beaa9fbea8506ecca2"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5c77d4fd4d95e902b5015a2d","type":"repos","attributes":{"analysis_version":50540,"badge_token":"2ab7e472f00991b130f5","branch":"master","created_at":"2019-02-28T12:33:01.354Z","delegated_config_repo_id":"","diff_coverage_enforced":true,"diff_coverage_threshold":50,"enable_notifications":true,"github_slug":"HarshitaN-WAL/Dashboard","human_name":"Dashboard","last_activity_at":"2019-03-15T12:54:50.592Z","test_reporter_id":"938635b12ce209c5ef66ffb476bb9050e0231af9f5e0491ecd9994473e32ce50","total_coverage_enforced":true,"vcs_database_id":"172437949","vcs_host":"https://github.com","score":null},"relationships":{"latest_default_branch_snapshot":{"data":{"id":"5c8ba086adb08a0001009b5f","type":"snapshots"}},"latest_default_branch_test_report":{"data":null},"account":{"data":null}},"links":{"self":"https://codeclimate.com/github/HarshitaN-WAL/Dashboard","services":"https://api.codeclimate.com/v1/repos/5c77d4fd4d95e902b5015a2d/services","web_coverage":"https://codeclimate.com/github/HarshitaN-WAL/Dashboard/coverage","web_issues":"https://codeclimate.com/github/HarshitaN-WAL/Dashboard/issues","maintainability_badge":"https://api.codeclimate.com/v1/badges/2ab7e472f00991b130f5/maintainability","test_coverage_badge":"https://api.codeclimate.com/v1/badges/2ab7e472f00991b130f5/test_coverage"},"meta":{"permissions":{"admin":true}}}]}'
  recorded_at: Mon, 18 Mar 2019 05:30:02 GMT
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos?github_slug=abcdefg5/qwttd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 4a6076ef74c16d09d7cca6dbab264d89dc015eee
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e0234245cb00aa260ccfa99a9a0b235e"
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 27 Mar 2019 01:32:29 GMT
recorded_with: VCR 4.0.0
