<div id="message-container">
<%# @messages.each do |m|%>
<%= render @messages%>
<%#end%>
</div>
<div>
<%= form_for(@message,html: { class:"form-horizontal",role:"form"}, url:message_path, remote: true) do |f| %>
    <%=f.text_field :body, class:"form-control"%>
    <%=f.submit "Post", class:"btn btn-primary"%>
<%end%>
</div>