<h1 align="center">create a new user</h1>
<%= render partial: "form", locals: {zone: @user, url: { :action => "create" } } %>
<%if session[:user_id]%>
  <!-- <div>
      <%= link_to 'Back to all users', users_path, class:"btn btn-primary btn-lg" %>
  </div> -->
<%end%>
