<div class="card offset-1 col-10" ">
  <h1 align= "center">Keep Track</h1>
  <div align="center">
    <pre>
      Software project development is the key area in software project lifecycle.
      Since every company works in many projects at a given point of time. 
      To track all project's status would be heavy if number of projects gets doubled. 
      This is the main issue that our project status dashboard will solve. 
      It provides consolidated view of all projects that are running. 
      It provides who manges, which developers are working and QA, count of open issues and closed issues and code status.
    </pre>
    <div style="margin-bottom: 25px;">
      <%= image_tag("about")%>
    </div>
  </div>
</div>