<div class='form-group row repos_fields' align="center" id="form_fields">
  <div class='control-label col-form-label col-sm-4'>
    <%= f.label :link, "Github Repository"%>
  </div>
  <div class='col-sm-4'>
    <%= f.text_field :link, placeholder: "github repository link", class: 'form-control' %>
  </div>
  <% if f.object.persisted? %>
<%#= ff.label :_destroy, "Destroy" %>
    <div class='col-sm-2'>
      <%= f.check_box :_destroy %>
    </div>
  <% end %>
</div>
