<table class="table">
  <thead>
    <tr>
        <th>Role Name</th>
        <th colspan="2" align="center">Actions</th>
    </tr>
    </thead>
    <%@roles.each do |r|%>
    <tr>
      <td><%=r.rolename%></td>
      <% if r.rolename == "Admin" || r.rolename == "Top Management" %>
      <td colspan="2" align="center" style="color:red"> "Actions not allowed"</td>
      <%else%>
        <td><%= link_to 'Edit', edit_role_path(r) %></td>
        <td><%= link_to 'Destroy', role_path(r) , method: :delete , data:{confirm:"are you sure?"} %></td>
      <%end%>
    </tr>
    <%end%>

</table>
<div class= 'create-new-button'>
<%= link_to 'Create new Role', new_role_path , class:"btn btn-primary create-project btn-lg"%>
</div>